<!-- This file has been tested on PRACSYS revision ???? -->

<launch>
  <rosparam ns="simulation" command="load" file="$(find prx_planning)/templates/applications/manual_application.yaml"/>
  <rosparam ns="simulation" command="load" file="$(find prx_planning)/templates/manipulation/input/simulation/manipulation_simulator.yaml"/>
  <rosparam command="load" file="$(find prx_planning)/templates/spaces/space_types.yaml"/>

  <!--include ns="simulation" file="$(find manipulation)/input/environments/cup2.launch"/-->

  <rosparam command="load" ns="simulation/manual_controllers">
    system_paths: [simulator/manual,simulator/manual_right]
  </rosparam>

  <rosparam command="load" ns="simulation/baxter" file="$(find prx_planning)/templates/baxter/input/urdf/baxter.yaml"/>

  <rosparam command="load" ns="simulation/simulator">
    manipulator_names:
      -
        simulator/manual/manipulator
      -
        simulator/manual_right/manipulator_right
    sensing_info:
      type: grasp_sensing_info
      sources: ["grasp_sensor1"]
      update_delay: 0.02
    grasp_sensor_source: "grasp_sensor1"
  </rosparam>

  <rosparam ns="simulation/simulator/sensing">
    type: sensing_model
    sensors:
      grasp_sensor1:
        type: simulated_grasp_sensor
        source: "grasp_sensor1"
        sensor_delay: 0.02
  </rosparam>

  <rosparam command="load" ns="simulation/simulator/subsystems/manual" file="$(find prx_planning)/templates/baxter/input/simulation/keyboard.yaml"/>
  <rosparam command="load" ns="simulation/simulator/subsystems/manual_right" file="$(find prx_planning)/templates/baxter/input/simulation/keyboard.yaml"/>

  <rosparam command="load" ns="simulation/simulator/subsystems/manual/subsystems/manipulator">
    template: "baxter"
    hand: left
    real_robot_mimic_mode: true
  </rosparam>

  <rosparam command="load" ns="simulation/simulator/subsystems/manual_right/subsystems/manipulator_right">
    template: "baxter"
    hand: right
    real_robot_mimic_mode: true
  </rosparam>

  <rosparam command="load" ns="simulation/simulator/obstacles" file="$(find prx_planning)/templates/baxter/input/simulation/baxter_torso.yaml" />

  <!-- Define the simulation node -->
  <node name="simulation" pkg="prx_simulation" type="prx_simulation"
    required="true" launch-prefix="" output="screen" args="simulation"/>


</launch>
