<launch>
  <rosparam command="load" file="$(find prx_input)/templates/applications/manual_application.yaml" />
  <!--<rosparam command="load" file="$(find dynamic_prm)/input/applications/dprm_sim_application.yaml" />-->
  
  <rosparam command="load" file="$(find prx_input)/templates/simulators/collision_stop_simulator.yaml" />
  
  <rosparam>
    interval: 0.05
  </rosparam>
  
  <rosparam ns="simulator">
  simulation_step: 0.05
  </rosparam>
  
  <rosparam command="load" ns="manual_controllers">
    system_paths: [simulator/manual]
  </rosparam>
  
  <rosparam command="load" ns="simulator/subsystems/manual" file="$(find manipulation)/input/simulation/keyboard.yaml"/>
  
  
  <rosparam command="load" ns="baxter" file="$(find manipulation)/input/urdf/baxter.yaml"/>
  <rosparam command="load" ns="simulator/subsystems/manual/subsystems/manipulator">
    template: "baxter"
    initial_state: [1.70168,-0.14394,0.37624,0.21800,2.89100,0.09400,1.78238,0.00000]
    initial_control: [0,0,0,0,0,0,0,0]
    print: true
  </rosparam>
  
  
  <rosparam command="load" ns="simulator/obstacles" file="$(find manipulation)/input/simulation/baxter_torso.yaml" />
  <!--<rosparam command="load" ns="simulator/obstacles" file="$(find manipulation)/input/environments/shelf.yaml" />-->
  
  <rosparam command="load" ns="simulator/obstacles" file="$(find dynamic_prm)/input/obstacles/table.yaml" />
  
  <include file="$(find dynamic_prm)/input/obstacles/sim_obstacles.launch" />
  
  <node name="simulation" pkg="prx_simulation" type="prx_simulation" required="true" launch-prefix="" output="screen" />
</launch>