<launch>

  <rosparam command="load" file="$(find prx_input)/templates/spaces/space_types.yaml"/>  
  <include ns="simulation" file="$(find manipulation)/input/common_simulation.launch"/>
  <include ns="planning" file="$(find manipulation)/input/common_planning.launch"/>

  <include ns="simulation" file="$(find manipulation)/input/environments/cup.launch"/>
  <rosparam command="load" ns="simulation/simulator/obstacles" file="$(find manipulation)/input/environments/shelf.yaml" />
  <rosparam command="load" ns="simulation/simulator/obstacles" file="$(find manipulation)/input/environments/table.yaml" />

  <include ns="planning" file="$(find manipulation)/input/planning/world_models/world_model_baxter.launch"/>  
  <rosparam command="load" ns="planning/world_model/simulator/obstacles" file="$(find manipulation)/input/environments/shelf.yaml" />  
  <rosparam command="load" ns="planning/world_model/simulator/obstacles" file="$(find manipulation)/input/environments/table.yaml" />
  
  <rosparam ns="planning/" >
    random_seed: 14391835
<!--
    graph_builder: "/graph_builder"
    deserialize: true    
    graphs_filenames:
      ungrasped_file: ungrasped_2000
      grasped_file: grasped_2000
      -->
  </rosparam>

  <!-- 
  <rosparam command="load" ns="planning/motion_planner/" file="$(find SPARS)/input/spars.yaml"/>
  -->

  <rosparam command="load" ns="planning/motion_planner/" file="$(find prx_input)/templates/motion_planners/prm_star.yaml"/>


  <rosparam ns="planning/task_planner/planners/" >
    ungrasped:
      template: "motion_planner"
      space_name: "manipulator_pc"
      visualization_bodies: ["simulator/manipulator/end_effector"]
      visualize_graph: false
      visualize_solutions: false
      delta_prm: false
      deserialize_file: ungrasped_500_1_prm_star
      serialize_file: ungrasped_500_spars
    grasped:
      template: "motion_planner"
      space_name: "manip_object_pc"
      visualization_bodies: ["simulator/manipulator/end_effector"]
      visualize_graph: false
      visualize_solutions: false        
      delta_prm: false    
      deserialize_file: grasped_500_1_prm_star
      serialize_file: grasped_500_spars
  </rosparam>

  <rosparam ns="planning/spec_template">
    type: motion_planning_specification
    distance_metric:
      type: ann_distance_metric
    stopping_criteria:
      elements:
        criterion1:
          type: iteration_criterion
          condition: 100
  </rosparam>



  <rosparam ns="planning/task_planner/" >
    smooths_query: false
    goal_biasing: 6
    replay_plan: false
    dummy_algorithm: false
    statistics_file_name: statistics_tdk.txt 
    cloud_robotics_stat_file: cloud_robotics_spars_1000
  </rosparam>
  
  <include ns="planning" file="$(find manipulation)/input/planning/queries/query_easy.launch"/>

  <!-- Define the planning node -->
  <node name="planning" pkg="prx_planning" type="prx_planning" 
    required="true" launch-prefix="gdb --args" output="screen" args="planning" />

  <!-- Define the simulation node -->
  <node name="simulation" pkg="prx_simulation" type="prx_simulation" 
    required="true" launch-prefix="" output="screen" args="simulation"/>

  <include file="$(find manipulation)/input/visualization.launch"/>

</launch>