
<class name="prx_planning/sirs"
    type="prx::packages::fast_irs::SIRS_t"
    base_class_type="prx::plan::planner_t">
    <description>
        Simplified IRS approach.
    </description>        
</class>

<class name="prx_planning/firs"
    type="prx::packages::fast_irs::FIRS_t"
    base_class_type="prx::plan::planner_t">
    <description>
        Super Fast IRS approach.
    </description>        
</class>


