
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/champion_copper_plus_spark_plug" 
    file="$(find prx_planning)/templates/object_templates/champion_copper_plus_spark_plug.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/cheezit_big_original" 
    file="$(find prx_planning)/templates/object_templates/cheezit_big_original.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/crayola_64_ct" 
    file="$(find prx_planning)/templates/object_templates/crayola_64_ct.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/dr_browns_bottle_brush" 
    file="$(find prx_planning)/templates/object_templates/dr_browns_bottle_brush.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/elmers_washable_no_run_school_glue" 
    file="$(find prx_planning)/templates/object_templates/elmers_washable_no_run_school_glue.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/expo_dry_erase_board_eraser" 
    file="$(find prx_planning)/templates/object_templates/expo_dry_erase_board_eraser.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/feline_greenies_dental_treats" 
    file="$(find prx_planning)/templates/object_templates/feline_greenies_dental_treats.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/first_years_take_and_toss_straw_cup" 
    file="$(find prx_planning)/templates/object_templates/first_years_take_and_toss_straw_cup.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/genuine_joe_plastic_stir_sticks" 
    file="$(find prx_planning)/templates/object_templates/genuine_joe_plastic_stir_sticks.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/highland_6539_self_stick_notes" 
    file="$(find prx_planning)/templates/object_templates/highland_6539_self_stick_notes.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/kong_duck_dog_toy" 
    file="$(find prx_planning)/templates/object_templates/kong_duck_dog_toy.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/kong_sitting_frog_dog_toy" 
    file="$(find prx_planning)/templates/object_templates/kong_sitting_frog_dog_toy.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/kong_air_dog_squeakair_tennis_ball" 
    file="$(find prx_planning)/templates/object_templates/kong_air_dog_squeakair_tennis_ball.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/kyjen_squeakin_eggs_plush_puppies" 
    file="$(find prx_planning)/templates/object_templates/kyjen_squeakin_eggs_plush_puppies.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/laugh_out_loud_joke_book" 
    file="$(find prx_planning)/templates/object_templates/laugh_out_loud_joke_book.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/mark_twain_huckleberry_finn" 
    file="$(find prx_planning)/templates/object_templates/mark_twain_huckleberry_finn.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/mead_index_cards" 
    file="$(find prx_planning)/templates/object_templates/mead_index_cards.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/mommys_helper_outlet_plugs" 
    file="$(find prx_planning)/templates/object_templates/mommys_helper_outlet_plugs.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/munchkin_white_hot_duck_bath_toy" 
    file="$(find prx_planning)/templates/object_templates/munchkin_white_hot_duck_bath_toy.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/oreo_mega_stuf" 
    file="$(find prx_planning)/templates/object_templates/oreo_mega_stuf.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/paper_mate_12_count_mirado_black_warrior" 
    file="$(find prx_planning)/templates/object_templates/paper_mate_12_count_mirado_black_warrior.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/rolodex_jumbo_pencil_cup" 
    file="$(find prx_planning)/templates/object_templates/rolodex_jumbo_pencil_cup.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/safety_works_safety_glasses" 
    file="$(find prx_planning)/templates/object_templates/safety_works_safety_glasses.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/sharpie_accent_tank_style_highlighters" 
    file="$(find prx_planning)/templates/object_templates/sharpie_accent_tank_style_highlighters.yaml"/>
<rosparam ns="prx_planning_node/world_model/simulator/subsystems/stanley_66_052" 
    file="$(find prx_planning)/templates/object_templates/stanley_66_052.yaml"/>