<launch>

  <include ns="planning" file="$(find manipulation)/input/planning/world_models/world_model_baxter.launch"/>

  <include ns="planning" file="$(find manipulation)/input/planning/planner_structures/planner_structure_baxter.launch"/>

  <include ns="planning" file="$(find manipulation)/input/planning/queries/query_baxter.launch"/>

</launch>
