<launch>
 <rosparam>
  system_mapping:
  -
    pair: [simulator/consumer/manipulator, world_model/simulator/manipulator]
  -
    pair: [simulator/cup1, world_model/simulator/cup1]
  -
    pair: [simulator/cup2, world_model/simulator/cup2]
  -
    pair: [simulator/cup3, world_model/simulator/cup3]
  -
    pair: [simulator/cup4, world_model/simulator/cup4]

  consumer: simulator/consumer
  </rosparam>

  <!-- k cups -->
  <rosparam command="load" ns="world_model/simulator/subsystems/cup1" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>
  <rosparam command="load" ns="world_model/simulator/subsystems/cup2" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>
  <rosparam command="load" ns="world_model/simulator/subsystems/cup3" file="$(find manipulation)/input/simulation/plants/cups.yaml"/> 
  <rosparam command="load" ns="world_model/simulator/subsystems/cup4" file="$(find manipulation)/input/simulation/plants/cups.yaml"/> 

  <!-- b imaginary cups -->
  <rosparam command="load" ns="world_model/simulator/subsystems/cup_i1" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>
  <rosparam command="load" ns="world_model/simulator/subsystems/cup_i2" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>
  <rosparam command="load" ns="world_model/simulator/subsystems/cup_i3" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>
  <rosparam command="load" ns="world_model/simulator/subsystems/cup_i4" file="$(find manipulation)/input/simulation/plants/cups.yaml"/>

  <!-- The b imaginary cups have to be removed from the real world-->
  <rosparam ns="world_model/simulator/subsystems/cup_i1">
    embeddings:
      real_world_space:
        type: "hide_mapping"
  </rosparam>

  <rosparam ns="world_model/simulator/subsystems/cup_i2">
    embeddings:
      real_world_space:
        type: "hide_mapping"
  </rosparam>

  <rosparam ns="world_model/simulator/subsystems/cup_i3">
    embeddings:
      real_world_space:
        type: "hide_mapping"
  </rosparam>

  <rosparam ns="world_model/simulator/subsystems/cup_i4">
    embeddings:
      real_world_space:
        type: "hide_mapping"
  </rosparam>

 

</launch>